.auth {
    display: flex;
    justify-content: center;
    position: relative;
    padding: 5rem 0;
    min-height: 100vh;
    width: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 420px;
    transition: transform 0.3s ease-in-out, width 0.3s ease-in-out, height 0.3s ease-in-out;
}

.image {
    cursor: pointer;
    width: 50px;
    height: 50px;
}

.logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.title {
    font-size: 28px;
    font-weight: 600;
}

.tagline {
    font-size: 20px;
    font-weight: 600;
    color: var(--text-secondary-color);
    margin-bottom: 2rem;
}

.footer {
    display: flex;
    /* justify-content: flex-start;
    width: 100%; */
    margin-top: 1rem;
}

.backToWebsite {
    color: var(--primary-color);
    font-weight: 600;
    cursor: pointer;
    font-size: 14px;
}

.backToWebsite:hover {
    color: var(--primary-hover-color);
}

.lines {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
    width: 100%;
}

.or {
    /* font-weight: 600; */
    font-size: 14px;
    color: var(--text-secondary-color);
}

.line {
    border-bottom: 1px solid rgba(0, 0, 0, 0.17);
    width: 35%;
}

@media (max-width: 780px) {
    .form {
        width: 350px;
    }
}