.card {
    width: 280px;
    height: 350px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 3rem 1rem 1rem;
    flex-direction: column;
    transition: transform 0.3s ease-in-out, width 0.3s ease-in-out, height 0.3s ease-in-out;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.hoverable:hover {
    transform: scale(1.05);
}

.title {
    margin-top: 2rem;
    font-size: 18px;
    font-weight: 600;
}

.subtitle {
    margin-top: 2rem;
    color: var(--foreground-secondary);
}

.notAvailable {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(217, 217, 217, 0.2);
    border-radius: 10px;
    backdrop-filter: blur(1.5px);
}

.ribbon {
    position: absolute;
    top: 30px;
    right: -30px;
    background: #B3B3B3;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 30px;
    transform: rotate(40deg);
    text-transform: uppercase;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    white-space: nowrap;
}

/* This is instead of ribbon, currently not in use */
.label {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #B3B3B3;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    text-transform: uppercase;
}

@media (min-width: 1400px) and (max-width: 1525px) {

    .card {
        width: 240px;
        height: 310px;
        padding-top: 2rem;
    }
    .subtitle {
        margin-top: 1rem;
    }
}

@media (max-width: 1525px) {

    .title {
        font-size: 16px;
    }
    
}

@media (max-width: 1028px) {

    .card {
        width: 240px;
        height: 310px;
        padding-top: 2rem;
    }
    .subtitle {
        margin-top: 1rem;
    }
    
}