.button {
    padding: 0.5rem 1.5rem;
    display: flex;
    align-items: center;
    font-weight: 600;
    border-radius: 5px;
    letter-spacing: 0.025rem;
}

.button:disabled {
    cursor: default;
    opacity: 0.5;
}

.primary {
    background-color: var(--theme-color);
    color: white;
}

.primary:hover {
    background-color: #2e64e4;
}

.primary:active {
    background-color: #1956e2;
}

.secondary {
    background-color: white;
    color: var(--theme-color);
    border: 2px solid var(--theme-color);
}

.secondary:hover {
    background-color: var(--theme-color);
    color: white;
}

.secondary:active {
    background-color: #2e64e4;
    color: white;
}

.success {
    background-color: #82CAB9;
    color: white;
}

.success:hover {
    background-color: #6ac7b1;
}

.success:active {
    background-color: #61c0a8;
}