.container {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    width: 100%;
}

label {
    font-weight: 500;
    font-size: 0.9rem;
    color: #333;
    align-self: flex-start;
}

.input {
    padding: 0.6rem 0.8rem;
    border: 1px solid var(--border-color);
    border-radius: 6px;
    font-size: 1rem;
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

.input:focus {
    border-color: var(--primary-color);
    outline: none;
    /* box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.2); */
    box-shadow: 0 0 0 1px var(--primary-color);
}

.input:disabled {
    background-color: #f5f5f5;
    cursor: not-allowed;
}

.errorInput {
    border-color: #e74c3c;
}

.error {
    color: #e74c3c;
    font-size: 0.8rem;
    min-height: 1em; /* κρατά πάντα χώρο */
    visibility: visible;
    transition: opacity 0.2s ease;
    align-self: flex-start;
    margin-bottom: .4rem;
    text-align: left;
}

.hiddenError {
    visibility: hidden;
    opacity: 0;
}