.container {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    width: 100%;
}

label {
    font-weight: 500;
    font-size: 0.9rem;
    color: #333;
    align-self: flex-start;
}

.inputWrapper {
    position: relative;
    width: 100%;
}

.input {
    width: 100%;
    padding: 0.6rem 2.5rem 0.6rem 0.8rem; /* extra δεξί padding για το ματάκι */
    border: 1px solid var(--border-color);
    border-radius: 6px;
    font-size: 1rem;
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

.input:focus {
    border-color: var(--primary-color);
    outline: none;
    box-shadow: 0 0 0 1px var(--primary-color);
}

.eyeButton {
    position: absolute;
    top: 50%;
    right: 0.6rem;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    color: #555;
    display: flex;
    align-items: center;
    justify-content: center;
}

.eyeButton:hover {
    color: var(--primary-color);
}

.errorInput {
    border-color: #e74c3c;
}

.error {
    color: #e74c3c;
    font-size: 0.8rem;
    min-height: 1em;
    visibility: visible;
    transition: opacity 0.2s ease;
    align-self: flex-start;
    margin-bottom: .3rem;
}

.hiddenError {
    visibility: hidden;
    opacity: 0;
}
