.form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.image {
    display: flex;
    justify-content: center;
    width: 100%;
}
  
.title {
    font-size: 1.5rem;
    font-weight: 600;
}
  
.text {
    color: var(--foreground-secondary);
}

.smallText {
    font-size: 14px;
    color: var(--foreground-secondary);
}

.link {
    color: var(--theme-color);
}