.card {
    width: 280px;
    height: 280px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    transition: transform 0.3s ease-in-out, width 0.3s ease-in-out, height 0.3s ease-in-out;
    position: relative;
}

.card:hover {
    transform: scale(1.05);
}

.labelColor {
    height: 10px;
    width: 100%;
    border-radius: 10px 10px 0 0;
    position: absolute;
    top: 0;
    left: 0;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem 1rem;
    position: relative;
}

.title {
    font-size: 18px;
    font-weight: 600;
}

.subtitle {
    margin-top: 1rem;
    color: var(--foreground-secondary);
}

.image {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

@media (min-width: 1400px) and (max-width: 1525px) {

    .card {
        width: 240px;
        /* height: 240px; */
    }
    
}

@media (max-width: 1525px) {

    .title {
        font-size: 16px;
    }
    
}

@media (max-width: 1028px) {

    .card {
        width: 240px;
    }
    
}