.footer {
    width: 100%;
    height: 40rem;
    aspect-ratio: 3/2;
    /* update the 85% to control the curvature
        you can also update the 50% to control the position
    */
    clip-path: ellipse(85% 100% at 50% 100%);
    background: var(--theme-color);

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 5rem 0 5rem; 
}

.container {
    display: flex;
    align-items: center;
}

.layout {
    width: 100%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.6rem;
    color: white;
}

.logo {
    margin-right: 10rem;
    user-select: none;
    min-width: 200px;
}

.title {
    font-weight: 600;
    letter-spacing: 1.5px;
    margin-bottom: .5rem;
}

.input {
    height: 3rem;
    width: 100%;
    max-width: 15rem;
    min-width: 15rem;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-left: 1rem;
    box-sizing: border-box;
    color: var(--foreground);
}

.input:hover {
    outline: none;
    border-color: rgba(0, 0, 0, 0.4);
}

.input:focus {
    outline: none;
    border: 1px solid #608aeb;
    box-shadow: 0 0 0 1px #608aeb;
}

.error {
    border: 1px solid red !important;
}

@media (max-width: 1540px) {
    .layout {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    .logo {
        margin-right: 5rem;
    }
}

@media (max-width: 950px) {
    .footer{
        height: auto;
        clip-path: ellipse(100% 100% at 50% 100%);
        padding: 15rem 5rem 5rem 5rem; 
    }

    .container {
        flex-direction: column;
    }

    .layout {
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
    }

    .logo {
        margin-right: 0;
        margin-bottom: 5rem;
    }
}