.navbar {
    background-color: white;
    height: 64px; /* h-16 */
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* shadow-md */
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0 2rem; /* Adjust spacing */
    z-index: 1000;
}

/* Left section (Logo + Navbar Items) */
.navbar-left {
    display: flex;
    align-items: center;
}

/* Logo container */
.navbar-logo {
    margin-left: 1rem; /* ml-8 */
    height: auto; /* h-12 */
    min-width: 11rem;
    width: 11rem;
    cursor: pointer;
}

/* Navbar items container */
.navbar-items {
    margin-left: 6rem; /* ml-24 */
}

.navbar-items-mob {
    display: none;
}

.nav-item {
    font-weight: 600;
    transition: color 0.3s ease;
    white-space: nowrap;
    margin-right: 1.5rem;
}

.nav-item:hover {
    color: var(--theme-color);
}

.nav-item.active {
    color: var(--theme-color);
    font-weight: 700;
}

/* Right section (Buttons) */
.navbar-right {
    display: flex;
    margin-right: 2rem; /* mr-8 */
}

.hamburger-btn {
    display: none;
}

/* Navbar popup menu */
.popup-menu {
    display: none;
}


/* Responsive: Mobile adjustments */
@media (min-width: 1125px) and (max-width: 1275px) {
    .navbar {
        padding: 0 1rem;
    }
}

@media (max-width: 1275px) {
    
    .navbar-items {
        margin-left: 3rem;
    }

    .navbar-logo {
        margin-left: 0;
    }

    .navbar-right {
        margin-right: 1rem;
    }
}

@media (max-width: 1125px) {

    .navbar-items {
        display: none; 
    }

    .navbar-items-mob {
        margin: 2rem 0;
        height: 10rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .nav-item {
        margin: 0;
    }

    .navbar-right {
        display: none;
    }

    .hamburger-btn {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .popup-menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(255, 255, 255, 1); /* Semi-transparent background */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 999;
    }
}