.form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: .5rem;
    text-align: center;
}

.subtitle {
    font-size: 14px;
    color: var(--foreground-secondary);
    margin-bottom: 1.5rem;
    text-align: center;
}

.input {
    height: 3rem;
    width: 100%;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-left: 1rem;
    box-sizing: border-box;
}

.input:hover {
    outline: none;
    border-color: rgba(0, 0, 0, 0.4);
}

.input:focus {
    outline: none;
    border: 1px solid #608aeb;
    box-shadow: 0 0 0 1px #608aeb;
}

.error {
    border: 1px solid red !important;
}

.errorText {
    color: red;
    font-size: 0.9rem;
    margin-top: 5px;
    font-size: 12px;
    letter-spacing: .5px;
}