.signup {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.termsPolicy {
    font-size: 14px;
    margin: 1rem auto 2rem;
    width: 90%;
    text-align: center;
}

.color {
    color: var(--theme-color);
    font-weight: 600;
}

.labelsAndInputs {
    display: flex;
    flex-direction: column;
}

.label {
    font-weight: 600;
    margin-bottom: .5rem;
}

.input {
    height: 3rem;
    width: 100%;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-left: 1rem;
    box-sizing: border-box;
}

.input:hover {
    outline: none;
    border-color: rgba(0, 0, 0, 0.4);
}

.input:focus {
    outline: none;
    border: 1px solid #608aeb;
    box-shadow: 0 0 0 1px #608aeb;
}

.error {
    border: 1px solid red !important;
}

