.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    transition: transform 0.3s ease-in-out, width 0.3s ease-in-out, height 0.3s ease-in-out;
    margin: 5rem 0;
}