.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 500px; */
    transition: transform 0.3s ease-in-out, width 0.3s ease-in-out, height 0.3s ease-in-out;
    /* margin: 3rem 0; */
}

.title {
    font-size: 28px;
    font-weight: 600;
    width: max-content;
}

.tagline {
    font-size: 20px;
    font-weight: 600;
    color: var(--text-secondary-color);
    margin-bottom: 2rem;
    width: max-content;
}