.home-section {
    display: flex;
    justify-content: space-between;
    padding: 0 5rem;
}

.hs-left-panel {
    display: flex;
    flex-direction: column;
    padding: 5rem;
}

.hs-main-text {
    max-width: 650px;
    line-height: 150%;
    font-size: 40px;
    font-weight: bold;
}

.hs-secondary-text {
    font-weight: bold;
    color: var(--foreground-secondary);
    margin-top: 1rem;
}

.hs-buttons {
    display: flex;
    margin-top: 3rem;
    gap: 1.5rem;
}

.hs-right-panel {
    min-width: 750px;
}

@media (max-width: 1800px) {
    .home-section {
        padding: 0 2rem;
    }
}

@media (max-width: 1642px) {
    .hs-main-text {
        font-size: 36px;
    }
}

@media (max-width: 1538px) {
    .hs-main-text {
        font-size: 32px;
    }
}

@media (max-width: 1428px) {
    .hs-left-panel {
        padding-right: 2rem;
    }
}

@media (max-width: 1259px) {
    .home-section {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .hs-left-panel {
        padding: 3rem 0;
    }

    .hs-buttons {
        justify-content: center;
    }

    .hs-right-panel {
        min-width: auto;
    }
}