.card {
    cursor: pointer;
    border-radius: 12px;
    padding: 1.2rem;
    display: flex;
    gap: 1.2rem;
    align-items: center;
    transition: 0.2s;
    border: 3px solid transparent;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.07);
    text-align: start;
}

.card:hover {
    border: 3px solid var(--primary-color);
}

.selected {
    border: 3px solid var(--primary-color) !important;
}

.image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.title {
    font-size: 1rem;
}

.desc {
    margin-top: .5rem;
    font-size: 14px;
    color: var(--text-secondary-color);
}

.errorBorder {
    border: 3px solid #e74c3c;
}