.loginForm {
    display: flex;
    flex-direction: column;
}

.forgot {
    display: flex;
    align-self: flex-end;
    font-size: 14px;
    color: var(--text-secondary-color);
    margin: -1rem 0 1.5rem;
}