.card {
    border: 1px solid #e5e7eb;
    border-radius: 16px;
    padding: 2rem;
    width: 330px;
    transition: 0.2s ease;
    background: #fff;
    text-align: start;
}

.card:hover {
    box-shadow: 0 0 20px rgba(0,0,0,0.08);
}

.popular {
    border: 2px solid var(--primary-color);
    position: relative;
}

.tag {
    background: var(--primary-color);
    color: white;
    font-size: 0.8rem;
    padding: 6px 16px;
    border-radius: 20px;
    position: absolute;
    top: -14px;
    left: 50%;
    transform: translateX(-50%);
}

.name {
    font-size: 1.4rem;
    font-weight: 600;
}

.description {
    margin-top: 0.4rem;
    font-size: 14px;
    color: #999;
    min-height: 2rem;
}

.priceRow {
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.price {
    font-size: 2rem;
    font-weight: 700;
    margin: 1.4rem 0;
}

.oldPrice {
    text-decoration: line-through;
    color: #999;
}

.featureList {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    color: #999;
}

.card button {
    margin-top: 1.4rem;
    width: 100%;
}