.spinner {
    display: inline-block;
    border: 2px solid currentColor;
    border-top-color: transparent;
    border-radius: 50%;
    animation: spin .6s linear infinite;
    vertical-align: middle;
    margin-right: 0.4rem;
    margin-top: -2px;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
