.aboutWhyLogistok {
    padding: 5rem 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
}
  
.cards {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns */
    grid-template-rows: repeat(2, 1fr); /* Two rows */
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.card {
    padding: 1rem;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    min-width: 300px;
    display: flex;
    flex-direction: column;
}

.card:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
}
  
.card:nth-child(2) {
    grid-column: 1;
    grid-row: 2;
}
  
.card:nth-child(3) {
    grid-column: 2;
    grid-row: span 2; /* Spans across both rows */
    transform: scale(1.1);
    margin-left: 1rem;
}

.cardTitle {
    font-size: 24px;
    font-weight: bold;
}

.cardSubtitle {
    color: var(--foreground-secondary);
    margin: .5rem 0 1rem;
}

.whyLogistokText {
    display: flex;
    flex-direction: column;
    width: 550px;
}

.title {
    font-size: 32px;
    font-weight: bold;
}
  
.subtitle {
    color: var(--foreground-secondary);
    margin-top: 1rem;
    font-size: 18px;
}

@media (max-width: 1500px) {
    .aboutWhyLogistok {
        flex-direction: column;
        align-items: center;
        padding: 5rem;
    }

    .whyLogistokText {
        order: -1;
        width: 100%;
        text-align: center;
        max-width: 900px;
    }

}

@media (max-width: 850px) {
    .cards {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(1, 1fr);
    }

    .card:nth-child(3) {
        transform: scale(1);
        grid-column: 1;
        grid-row: 3;
        margin-left: 0;
    }
}