.aboutVision {
    padding: 5rem 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.title {
    font-size: 32px;
    font-weight: bold;
}

.cards {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
}

.card {
    display: flex;
    flex-direction: column;
    text-align: center;
    min-width: 270px;
    max-width: 900px;
}

.cardTitle {
    color: var(--theme-color);
    font-size: 24px;
    font-weight: bold;
}

.cardSubtitle {
    color: var(--foreground-secondary);
    margin-top: 1rem;
}

.separator { 
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    height: 6rem;
}

@media (max-width: 1200px) {
    .aboutVision {
        padding: 5rem;
    }

    .cards {
        flex-direction: column;
        gap: 0;
    }
    .separator { 
        transform: rotate(90deg);
    }
}