.login {
    display: flex;
    justify-content: center;
    position: relative;
    padding: 5rem 0;
    min-height: 100vh;
    width: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 420px;
    transition: transform 0.3s ease-in-out, width 0.3s ease-in-out, height 0.3s ease-in-out;
}

.title {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 2rem;
}

.color {
    color: var(--theme-color);
    font-weight: 600;
}

.lines {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
    width: 100%;
}

.or {
    /* font-weight: 600; */
    font-size: 14px;
    color: var(--foreground-secondary);
}

.line {
    border-bottom: 1px solid rgba(0, 0, 0, 0.17);
    width: 35%;
}

@media (max-width: 780px) {
    .form {
        width: 350px;
    }
}