.verifyEmail {
    display: flex;
    justify-content: center;
    position: relative;
    padding: 10rem 0;
    min-height: 100vh;
    width: 100%;
    background-color: var(--theme-color);
}

.logo {
    position: absolute;
    top: 2rem;
    left: 2rem;
}

.resendLink {
    color: var(--theme-color);
    cursor: pointer;
}

@media (max-width: 930px) {
    .logo {
        left: 50%;
        transform: translateX(-50%);
    }
}