.onboarding {
    display: flex;
    justify-content: center;
    position: relative;
    padding: 5rem 0;
    min-height: 100vh;
    width: 100%;
    /* background-color: rgb(148, 177, 177); */
}

.onboardingContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    transition: transform 0.3s ease-in-out, width 0.3s ease-in-out, height 0.3s ease-in-out;
    /* background-color: aqua; */
}

.onboardingStep3Content {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease-in-out, width 0.3s ease-in-out, height 0.3s ease-in-out;
}

.onboardingContent form {
    margin-top: 1rem;
    width: 100%;
}

.onboardingContent button {
    margin-top: 1rem;
    width: 100%;
}

.title {
    font-size: 28px;
    font-weight: 600;
    width: max-content;
}

.tagline {
    font-size: 20px;
    font-weight: 600;
    color: var(--text-secondary-color);
    margin-bottom: 2rem;
    width: max-content;
}

.backButton {
    position: absolute;
    top: 20px;
    left: 20px;

    background: transparent;
    border: none;
    display: flex;
    align-items: center;

    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;

    color: var(--text-secondary-color);
    padding: 0;
}

.backButton:hover {
    opacity: 0.7;
}

.backIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 6px;
}

.industries {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-bottom: 0.4rem;
}

.error {
    color: #e74c3c;
    font-size: 0.8rem;
    min-height: 1em;
    visibility: visible;
    transition: opacity 0.2s ease;
    align-self: flex-start;
    margin-bottom: 0.3rem;
    /* text-align: left; */
}

.hiddenError {
    visibility: hidden;
    opacity: 0;
}

/* TODO: Fix error margins in all files, maybe place error css in index.css to be global */