.aboutHeader {
    padding: 2rem 5rem;
    margin-top: 6rem;
    display: flex;
    justify-content: center;
}
  
.headerText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 1000px;
}

.title {
    font-size: 32px;
    font-weight: bold;
}
  
.subtitle {
    color: var(--foreground-secondary);
    margin-top: 1rem;
    font-size: 18px;
}