.signup {
    background-color: var(--theme-color);
    display: flex;
    justify-content: flex-end;
    position: relative;
    padding: 5rem 10rem;
    min-height: 100vh;
    width: 100%;
}

.logo {
    position: absolute;
    top: 2rem;
    left: 2rem;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    color: white;
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 2rem;
}

.container {
    width: 550px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 2rem 4rem;
    transition: transform 0.3s ease-in-out, width 0.3s ease-in-out, height 0.3s ease-in-out;
}

.color {
    color: var(--theme-color);
    font-weight: 600;
}

.lines {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
}

.or {
    /* font-weight: 600; */
    font-size: 14px;
    color: var(--foreground-secondary);
}

.line {
    border-bottom: 1px solid rgba(0, 0, 0, 0.17);
    width: 35%;
}

@media (max-width: 1480px) {
    .signup {
        justify-content: center;
        padding: 5rem 0;
    }
}

@media (max-width: 900px) {
    .signup {
        padding: 2rem 0;
        flex-direction: column;
        align-items: center;
    }
    .logo {
        position: relative;
        top: 0;
        left: 0;
    }
}

@media (max-width: 780px) {
    .container {
        padding: 2rem 3rem;
        width: 450px;
    }
}